<h1>Stupid coaching</h1>

<div class="conversation-card">
  <p><%= @question %></p>
  <p><em>- You</em></p>
</div>

<div class="conversation-card answer">
  <p><%= @answer %></p>
  <p><em>- Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
