<h1>Stupid coaching</h1>

<form action="answer">
    <div class="d-flex">
      <input class="mr-2 flex-grow-1" type="text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
</form>
