// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.conversation-card  {
  border-left: solid 4px grey;
  p {
    padding: 10px 0px 10px 10px;
  }

}
.answer {
    background: #FEFFE1;
  }
